{% extends "base.html" %}
{% block atas7 %}Home - Kelompok 7{% endblock %}
{% block tengah7 %}
<h2 class="text-center mb-4">Tentang Aplikasi</h2>
<p>Selamat Datang.</p>
<p>Berisi dua form utama:</p>
<ul>
    <li><b>Form Atha</b> – Mengelola data barang (ID, Nama, Kategori, Stok)</li>
    <li><b>Form Jovi</b> – Mengelola data pelanggan (ID, Nama, Alamat, Telepon)</li>
</ul>
{% endblock %}
{% block bawah7 %}
<!-- 🔹 Footer tetap di bawah -->
<footer class="bg-info text-white text-center py-3 mt-auto">
    <div class="container">
        <p class="mb-1 fw-bold">© 2025 Kelompok 7 - Atha & Jovi</p>
        <p class="mb-0">Sistem Pendataan Barang dan Pelanggan</p>
    </div>
</footer>

{% endblock %}