{% extends "base.html" %}
{% block atas7 %}Beranda - Kelompok 7{% endblock %}
{% block tengah7 %}
<div class="text-center">
    <h1>Selamat Datang di Aplikasi Flask Kelompok 7</h1>
    <p class="mt-3">Aplikasi sederhana untuk pendataan Barang dan Pelanggan.</p>
    <a href="/home" class="btn btn-primary mt-3">Mulai Sekarang</a>
</div>
{% endblock %}
{% block bawah7 %}
<!-- 🔹 Footer tetap di bawah -->
<footer class="bg-info text-white text-center py-3 mt-auto">
    <div class="container">
        <p class="mb-1 fw-bold">© 2025 Kelompok 7 - Atha & Jovi</p>
        <p class="mb-0">Sistem Pendataan Barang dan Pelanggan</p>
    </div>
</footer>

{% endblock %}